mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  ul {
    li {
      list-style: none;
    }
  }
  button {
    outline: none;
    border: 0;
    background: transparent;
  }
  .user {
    margin-left: 300px;
    margin-right: 100px;
    font-size: 14px;
  }
  mat-toolbar {
    background: #f7f7f7;
  }
  .user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    &-icon {
      height: 18px;
      font-size: 16px;
    }
  }
  
  ::ng-deep {
    .mat-menu-content {
      width: 160px;
    }
  }

  .search-field {
    // margin-right: 10px;
    width: 200px;
  }
  
  .genre-field,
  .language-field {
    margin-right: 20px;
    margin-left: 20px;
    width: 150px;
  }
  
  .mat-form-field {
    margin-right: 10px;
    width: 150px;
  }