<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a> -->
    <a mat-list-item mat-list-item routerLinkActive="list-item-active" routerLink="/admin/customers"> 
        <mat-icon>person</mat-icon> Customers 
    </a>

    <a mat-list-item mat-list-item routerLinkActive="list-item-active" routerLink="/admin/movies"> 
      <mat-icon>movies</mat-icon> Movies 
    </a>

    <a mat-list-item mat-list-item routerLinkActive="list-item-active" routerLink="/admin/theaters"> 
      <mat-icon>theaters</mat-icon> Theaters 
    </a>

    <a mat-list-item mat-list-item routerLinkActive="list-item-active" routerLink="/admin/rooms"> 
      <mat-icon>rooms</mat-icon> Rooms 
    </a>

    <a mat-list-item mat-list-item routerLinkActive="list-item-active" routerLink="/admin/seats"> 
      <mat-icon>chairs</mat-icon> Seats 
    </a>

    <a mat-list-item mat-list-item routerLinkActive="list-item-active" routerLink="/movies-client"> 
      <mat-icon>person</mat-icon> Client 
    </a>
    
    <a mat-list-item mat-list-item routerLinkActive="list-item-active" routerLink="/admin/tickets"> 
      <mat-icon>tickets</mat-icon> Booking 
    </a>

  </mat-nav-list>