<h3>Chi tiết khách hàng</h3>
<div class="customer-details">
    <div class="detail-item">
        <label><b>Họ và tên:</b></label>
        <span>{{customer.fullName}}</span>
    </div>
    <div class="detail-item">
        <label><b>Email:</b></label>
        <span>{{customer.email}}</span>
    </div>
    <div class="detail-item">
        <label><b>Số điện thoại:</b></label>
        <span>{{customer.phoneNumber}}</span>
    </div>
    <div class="detail-item">
        <label><b>Giới tính:</b></label>
        <span>{{customer.gender}}</span>
    </div>
</div>
